<!DOCTYPE html>
<html lang="en">
  <head>
    <title>World Weather App</title>
    <!--<meta charset="utf-8">-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/weather-icons.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="heading"> World Weather Now </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <!-- Trigger the modal with a button -->
        <button type="button" class="btn btn-danger btn-md addButton" data-toggle="modal" data-target="#myModal">Add City</button>
      </div>

      <div id="results"></div>

      <script type="text/template" id="city-weather">
        <div class="col-md-4 weather">
          <div class="row">
            <div class="col-md-4">
              <i class="wi wi-yahoo-<%= code %> "></i> 
            </div>
            <div class="col-md-6">
              <div class="row">
                <span class="temp"><%= temp %>&deg; </span> <br>
               </div>
              <div class="row">
                <span class="city"> <%= city %> </span>
              </div>
            </div>
          </div>
        </div>
      </script>
      
      <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Add City</h4>
            </div>
            <div class="modal-body">
              <label>City </label>
              <input type="text" id="city" autocomplete="off">
            </div>
     
            <div class="modal-footer">
              <button type="button" class="btn btn-default" onclick="addCity()"  data-add="modal">Add</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    <!-- Scripts -->
    <script type="text/javascript" src="lib/underscore-min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="lib/jquery.simpleWeather.min.js"></script>
    <script type="text/javascript" src = "main.js"></script>
</body>
</html>

